/* ABSTRACTS */
@use "abstracts/variables";
@use "abstracts/mixins";

/* BASE */
@use "base/reset";
@use "base/typography";

/* COMPONENTS */
@use "components/header";
@use "components/footer";
@use "components/cards";
@use "components/search" as searchComponent;
@use "components/layout";

/* PAGES */
@use "pages/home";
@use "pages/artisan-detail";
@use "pages/search" as searchPage;