.artisan-detail {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.artisan-detail__title {
    text-align: center;
    margin-bottom: 40px;
}

.artisan-detail__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    padding: 32px;
    border-radius: var(--radius);
    margin-bottom: 40px;
    background: var(--primary-light);
}

.artisan-detail__image img {
    width: 100%;
    border-radius: var(--radius);
    object-fit: cover;
}

.artisan-detail__infos {
    padding-top: 50px;
}

.artisan-detail__specialite,
.artisan-detail__localisation {
    font-size: 20px;
    text-align: center;
}

.artisan-detail__specialite {
    font-weight: bold;
    padding-bottom: 20px;
}

.artisan-detail__rating {
    margin: 12px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artisan-detail__propos {
    text-align: center;
    font-size: 22px;
}

.artisan-detail__website {
    text-align: center;
    padding-top: 30px;
}

@media (max-width: 768px) {
    .artisan-detail__card {
        grid-template-columns: 1fr;
    }
}