.contact-form {
    max-width: 500px;
    margin: 60px auto 0;
    padding: 24px;

    background: white;
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-form__title {
    text-align: center;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px 12px;

    border: 1px solid var(--text-gris);
    border-radius: 6px;

    font-family: inherit;
    font-size: 14px;

    background: var(--primary-light);
}

.contact-form taxtarea {
    min-height: 100px;
    resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: var(--primary);
}

.contact-form button {
    margin-top: 12px;
    padding: 10px;

    background: var(--primary);
    color: white;
    border: none;
    border-radius: 6px;

    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    transition: background 0.2s ease;
}

.contact-form button:hover {
    background: #0074C7;
}

