.search-results {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.search-results h1 {
    text-align: center;
    margin-bottom: 40px;
}

.header_search {
    position: relative;
    width: 157px;
}

.search__input {
    width: 100%;
    padding: 14px 20px 14px 4px;
    border-radius: 10px;
    border: 2px solid #000000;
    font-size: 12px;
    outline: none;
    background-color: #f8fbff;
    color: var(--text-gris);
}

.search__icon {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--text-light);
    pointer-events: none;
}

.search__input:focus {
    border-color: var(--primary);
    border-color: white;
}

@media (max-width: 992px) {
    .tta-search-wrap {
        margin: 0 auto;
    }
}