.top-artisans {
    margin: 80px 0;
    width: 100%;
}

.top-artisans__title {
    text-align: center;
    background: var(--primary-bleu);
    color: white;
    padding: 16px;
    border-radius: var(--radius);
    margin-bottom: 40px;
    height: 70px;
    
}

.top-artisans_grid {
    display: grid;
    grid-template-columns: repeat(3, 257px);
    gap: 20px;
    width: 100%;
    justify-content:space-around;
    padding: 30px 5px;
}

.artisan-card {
    background: var(--primary-light);
    border: 1px solid var(--text-gris);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    text-align: center;

    width: 100%;
    height: 409px;
    margin-top: 30px;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
    will-change: transform;
}

.artisan-card__link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.artisan-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 26px rgba(0, 0, 0, 0.33);
}

.artisan-card__image img {
    max-width: 189px;
    max-height: 189px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

.artisan-card__name {
    margin: 0;
    font-size: 18px;
    padding-top: 17px;
    color: var(--text-gris);
}

.artisan-card__specialite {
    color: var(--primary);
    margin: 0;
    font-weight: 500;
    padding-top: 17px;
    color: var(--text-gris);
}

.artisan-card__ville {
    color: var(--text-gris);
    font-size: 14px;
    padding-top: 17px;
}

.artisan-card__note {
    font-weight: 600;
    padding-top: 17px;
}

/* Tablet */
@media (max-width: 1024px) {
    .top-artisans_grid {
        grid-template-columns: repeat(2, 257px);
    }
}


/* Mobile */
@media (max-width: 768px) {
    .top-artisans_grid {
        grid-template-columns: 257px;
    }

    .artisan-card__image img {
        height: 189px;
    }
}




