* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-main);
    font-size: var(--body-size);
    line-height: var(--body-line);
    background: #ffffff;
    color: var(--text-dark);
}

h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line);
  font-weight: 600;
}

h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-line);
  font-weight: 600;
}

h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-line);
  font-weight: 500;
}

small {
  font-size: var(--small-size);
  line-height: var(--small-line);
}