.steps {
    margin: 40px 0;
}

.steps_container {
    max-width: 900px;
    margin: 0auto;
}

.steps_title {
    text-align: center;
    margin-bottom: 24px;
}

.steps_list {
    display: grid;
    gap: 16px;

    max-width: 1000px;
    margin: 0auto;
}

.step {
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background: var(--primary-light);
    padding: 20px 24px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.step_step {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color: var(--primary);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 0 1.2em;
}

.step_center {
    flex: 1;
    text-align: center;
}

.step_title {
    margin: 0;
    color: var(--primary)
}

.step_text {
    margin-top: 6px;
    color: var(--text-gris);
}

.step_right {
    font-size: 28px;
    padding: 0 1.5em;
    margin: auto;
}

/* Mobile */
@media (max-width: 600px) {
    .step {
        flex-direction: column;
        align-items: flex-start;
    }

    .step_left {
        min-width: auto;
    }

    .step_right {
        align-self: flex-end;
        font-size: 24px;
    }
}