:root {
    --font-main: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, san-serif;

    /* Titles */
    --h1-size: 28px;
    --h1-line: 1.2;

    --h2-size: 22px;
    --h2-line: 1.3;

    --h3-size: 18px;
    --h3-line: 1.6;

    /* Text */
    --body-size: 16px;
    --body-line: 1.8;

    --small-size: 14px;
    --small-line: 1.4;
}