:root {
    --primary: #00497C;
    --primary-bleu: #0074C7;
    --primary-light: #e6f1fa;

    --text-dark: #00315c;
    --text-light: #6b7a8a;
    --text-gris: #384050;

    --bg-light: #f7f9fc;

    --radius: 8px;
    --shadow: 0 4px 12px rgba(0,0,0,0.08);

}